/nanopb-0.3.9.3-windows-x86/
/protobuf/
/python/
/pyQt/__pycache__/
.cproject
language_settings.xml
org.eclipse.cdt.core.prefs


pyQt/pyqt.pyproject.user

fw_slave/.settings/com.atollic.truestudio.debug.hardware_device.prefs

fw_slave/.settings/org.eclipse.cdt.managedbuilder.core.prefs

fw_slave/.settings/language.settings.xml
